### Concatenation in Pandas  
**Author:** Taskeen Hussain  
**Email:** taskeenuaf@gmail.com  

#### Concatenation in Pandas allows combining DataFrames or Series along rows or columns, enabling seamless data merging and # integration. It supports various options for handling indices and data alignment.

In [48]:
# ### Concatenating Objects
import pandas as pd

one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])

two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,5])
print (pd.concat([one,two]))

     Name subject_id  Marks_scored
1    Alex       sub1            98
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2            89
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88

In [49]:
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])

two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,5])
print (pd.concat([one,two],keys=['x','y']))

       Name subject_id  Marks_scored
x 1    Alex       sub1            98
  2     Amy       sub2            90
  3   Allen       sub4            87
  4   Alice       sub6            69
  5  Ayoung       sub5            78
y 1   Billy       sub2            89
  2   Brian       sub4            80
  3    Bran       sub3            79
  4   Bryce       sub6            97
  5   Betty       sub5            88

In [50]:
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])

two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,5])
print (pd.concat([one,two],keys=['x','y'],ignore_index=True))

     Name subject_id  Marks_scored
0    Alex       sub1            98
1     Amy       sub2            90
2   Allen       sub4            87
3   Alice       sub6            69
4  Ayoung       sub5            78
5   Billy       sub2            89
6   Brian       sub4            80
7    Bran       sub3            79
8   Bryce       sub6            97
9   Betty       sub5            88

In [51]:
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5'],
   'Marks_scored':[98,90,87,69,78]},
   index=[1,2,3,4,5])

two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5'],
   'Marks_scored':[89,80,79,97,88]},
   index=[1,2,3,4,5])
print (pd.concat([one,two],axis=1))

     Name subject_id  Marks_scored   Name subject_id  Marks_scored
1    Alex       sub1            98  Billy       sub2            89
2     Amy       sub2            90  Brian       sub4            80
3   Allen       sub4            87   Bran       sub3            79
4   Alice       sub6            69  Bryce       sub6            97
5  Ayoung       sub5            78  Betty       sub5            88

In [52]:
import pandas as pd

# DataFrame one with updated data
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id': ['Math', 'Physics', 'Chemistry', 'Biology', 'History'],
   'Marks_scored': [98, 90, 87, 69, 78]},
   index=[1, 2, 3, 4, 5])

# DataFrame two with updated data
two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id': ['Physics', 'Chemistry', 'Math', 'Biology', 'History'],
   'Marks_scored': [89, 80, 79, 97, 88]},
   index=[6, 7, 8, 9, 10])

# Concatenating using pd.concat
result = pd.concat([one, two], ignore_index=True)
print(result)

     Name subject_id  Marks_scored
0    Alex       Math            98
1     Amy    Physics            90
2   Allen  Chemistry            87
3   Alice    Biology            69
4  Ayoung    History            78
5   Billy    Physics            89
6   Brian  Chemistry            80
7    Bran       Math            79
8   Bryce    Biology            97
9   Betty    History            88

In [53]:
import pandas as pd

# DataFrame one
one = pd.DataFrame({
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id': ['sub1', 'sub2', 'sub4', 'sub6', 'sub5'],
   'Marks_scored': [98, 90, 87, 69, 78]},
   index=[1, 2, 3, 4, 5])

# DataFrame two
two = pd.DataFrame({
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id': ['sub2', 'sub4', 'sub3', 'sub6', 'sub5'],
   'Marks_scored': [89, 80, 79, 97, 88]},
   index=[1, 2, 3, 4, 5])

# Concatenating DataFrames using pd.concat()
result = pd.concat([one, two, one, two], ignore_index=True)
print(result)

      Name subject_id  Marks_scored
0     Alex       sub1            98
1      Amy       sub2            90
2    Allen       sub4            87
3    Alice       sub6            69
4   Ayoung       sub5            78
5    Billy       sub2            89
6    Brian       sub4            80
7     Bran       sub3            79
8    Bryce       sub6            97
9    Betty       sub5            88
10    Alex       sub1            98
11     Amy       sub2            90
12   Allen       sub4            87
13   Alice       sub6            69
14  Ayoung       sub5            78
15   Billy       sub2            89
16   Brian       sub4            80
17    Bran       sub3            79
18   Bryce       sub6            97
19   Betty       sub5            88

In [54]:
print (pd.Timestamp('2017-03-01'))

2017-03-01 00:00:00

In [55]:
 ### Create a TimeStamp

import pandas as pd

print (pd.Timestamp(1587687255,unit='s'))

2020-04-24 00:14:15

In [56]:
import pandas as pd

print (pd.date_range("11:00", "13:30", freq="30min").time)

[datetime.time(11, 0) datetime.time(11, 30) datetime.time(12, 0)
 datetime.time(12, 30) datetime.time(13, 0) datetime.time(13, 30)]

In [57]:
print (pd.date_range("11:00", "13:30", freq="H").time)

[datetime.time(11, 0) datetime.time(12, 0) datetime.time(13, 0)]

C:\Users\ALR\AppData\Local\Temp\ipykernel_16240\3572445316.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  print (pd.date_range("11:00", "13:30", freq="H").time)

In [58]:
import pandas as pd

# Converting a Series with date strings and a None value
print(pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]), errors='coerce'))

0   2009-07-31
1          NaT
2          NaT
dtype: datetime64[ns]

In [60]:
import pandas as pd

# Converting a Series with date strings and a None value
result = pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]), errors='coerce', infer_datetime_format=True)

print(result)

0   2009-07-31
1          NaT
2          NaT
dtype: datetime64[ns]

C:\Users\ALR\AppData\Local\Temp\ipykernel_16240\4131231339.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  result = pd.to_datetime(pd.Series(['Jul 31, 2009', '2010-01-10', None]), errors='coerce', infer_datetime_format=True)